
{% extends 'base.html' %}
{% load mathfilters %}
{% block con %}
    
    <div class="container mt-5" style="width:100%">
        <h1><b>웹서버 갤러리</b></h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mt-5">
                <div class="col-lg-10"><input type="file" name="pdf" class="form-control"></div>
                <div class="col-lg-2"><button>변환</button></div>
            </div>
           
            <textarea class="form-control mt-3" style="height: 300px;" disabled>{{st}}</textarea>
        </form>
    </div>   
    
   
{% endblock %}